.card-pequeno-container {
	display: flex;
}

.card-pequeno-container {
	width: 500px;
}

.card-pequeno-titulo {
	margin-left: 12px;
}

.card-pequeno-titulo > h1 {
	font-size: 20px;
}

.card-pequeno-imagem > img {
	width: 140px;
}
