.card-pequeno-container {
	display: flex;
}

.card-pequeno-container {
	width: 500px;
}

.card-pequeno-titulo {
	margin-left: 12px;
}

.card-pequeno-titulo > h1 {
	font-size: 20px;
	margin-top: 12px;
}

.card-pequeno-imagem > img {
	height: 100px;
}

.card-pequeno-container-separador {
	margin-top: 8px;
}
