.titulo-container {
	color: #ffffff;
}

.titulo-container > h1 {
	display: flex;
	margin-bottom: 1rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 8rem;
	font-weight: bolder;
	justify-content: center;
}

